/* || VARIABLES */

:root {
  /* Header variables */
  --HEADER-BGCOLOR: #293864;
  --HEADER-H1-BGCOLOR: #f3f7f7;
  --HEADER-H1-LINK-COLOR: #c6cbd8;

  /* Navigation variables */
  --NAV--LINK-COLOR: #f3f7f7;
  --NAV--LINK-BORDER-BOTTOM: #f3f7f7;
  --NAV--LINK-HOVER: rgba(255, 255, 255, 0.25);

  /* Hero section variables */
  --HERO-H2-BGCOLOR: #ccd3d3;
  --HERO-H2-COLOR: #293864;

  /* Section variables */
  --SECTION-H2-COLOR: #445876;
  --SECTION-BORDER: #445876;

  /* Portfolio variables */
  --PORTFOLIO-LINK-COLOR: #31343d;
  --IMAGE-BORDER: #92cccd;
  --FIGURE-CAPTION: #92cccd;

  /* Bottom navigation variables */
  --BOTTOM-LINK-COLOR: #445876;
  --BOTTOM-LINK-HOVER: #92cccd;

  /* Fonts */
  --BODY-FONT-FAMILY: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* General HTML styles */
html {
  scroll-behavior: smooth; /* Smooth scrolling behavior */
  height: auto; /* Automatically adjust height */
}

/* Paragraph styles */
p {
  text-align: justify; /* Justify text alignment */
}

/* Body styles */
body {
  font-family: var(--BODY-FONT-FAMILY); /* Set font family */
  line-height: 1.5; /* Set line height */
}

/* Header styles */
header {
  background-color: var(--HEADER-BGCOLOR); /* Set background color */
  display: flex; /* Use flexbox */
  align-items: center; /* Align items */
  justify-content: space-between; /* Justify content */
  flex-wrap: wrap; /* Allow wrapping */
  padding: 1%; /* Padding */
}

/* Header h1 styles */
header h1 {
  background-color: var(--HEADER-H1-BGCOLOR); /* Set background color */
  font-size: 55px; /* Set font size */
  line-height: normal; /* Set line height */
  padding: 0 15px 0 5%; /* Padding */
}

/* Header h1 anchor styles */
header h1 a {
  text-decoration: none; /* Remove underline */
  color: #31343d; /* Set text color */
}

/* Header nav styles */
header nav {
  padding-right: 5%; /* Padding */
}

/* Top navigation styles */
.topNav {
  display: flex; /* Use flexbox */
}

/* Top navigation list item styles */
.topNav li {
  padding: 5px; /* Padding */
}

/* Top navigation anchor styles */
.topNav a {
  color: var(--NAV--LINK-COLOR); /* Set text color */
  font-size: 24px; /* Set font size */
  text-decoration: none; /* Remove underline */
  padding: 5px 10px; /* Padding */
  border-bottom: 4px solid var(--NAV--LINK-BORDER-BOTTOM); /* Set border bottom */
}

/* Top navigation anchor hover styles */
.topNav a:hover {
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6); /* Set shadow */
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6); /* Set shadow */
  background-color: var(--NAV--LINK-HOVER); /* Set background color */
}

/* Bottom navigation anchor hover styles */
.bottomNav a:hover {
  -webkit-box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6); /* Set shadow */
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.6); /* Set shadow */
  background-color: var(--BOTTOM-LINK-HOVER); /* Set background color */
}

/* Hero banner styles */
.hero-banner {
  background-image: url("/assets/title_bg.jpg"); /* Set background image */
  background-position: top; /* Set background position */
  background-size: cover; /* Set background size */
  background-attachment: fixed; /* Set background attachment */
  height: 195px; /* Set height */
  position: relative; /* Set position */
}

/* Hero banner h2 styles */
.hero-banner h2 {
  background-color: var(--HERO-H2-BGCOLOR); /* Set background color */
  color: var(--HERO-H2-COLOR); /* Set text color */
  font-size: 35px; /* Set font size */
  padding: 0 10px; /* Padding */
  display: flex; /* Use flexbox */
  justify-content: center; /* Justify content */
  text-align: center; /* Text alignment */
  position: absolute; /* Set position */
  bottom: 20px; /* Set bottom position */
  right: 5%; /* Set right position */
}

/* Container styles */
.container {
  width: 92%; /* Set width */
  padding-bottom: 120px; /* Padding bottom */
  margin: 40px auto 0px auto; /* Margin */
  display: grid; /* Use grid */
  grid-template-columns: 16% 76%; /* Set grid columns */
  gap: 4%; /* Set gap */
}

/* Page section styles */
.page-section {
  border-right: 4px solid var(--SECTION-BORDER); /* Set border */
  font-size: 40px; /* Set font size */
  text-align: end; /* Text alignment */
  padding-right: 15px; /* Padding right */
}

/* h2 styles */
h2 {
  color: var(--SECTION-H2-COLOR); /* Set text color */
  text-align: end; /* Text alignment */
  font-size: clamp(2rem, 3vw, 3rem); /* Set font size with clamp */
  font-weight: 900; /* Set font weight */
}

/* Profile styles */
.profile {
  width: 20%; /* Set width */
  margin: 0 2% 1% 0; /* Margin */
  border: 5px solid var(--IMAGE-BORDER); /* Set border */
  float: left; /* Float left */
}

/* Portfolio styles */
#portfolio {
  width: 100%; /* Set width */
  display: grid; /* Use grid */
  grid-template-columns: 1fr 1fr; /* Set grid columns */
  grid-template-rows: 410px 210px 210px; /* Set grid rows */
  grid-template-areas:
    "p0 p0"
    "p1 p2"
    "p3 p4"; /* Set grid areas */
  gap: 20px; /* Set gap */
}

/* Portfolio anchor styles */
#portfolio a {
  color: var(--PORTFOLIO-LINK-COLOR); /* Set text color */
  text-decoration: none; /* Remove underline */
}

/* Grid areas styles */
.p0 {
  grid-area: p0; /* Set grid area */
}
.p1 {
  grid-area: p1; /* Set grid area */
}
.p2 {
  grid-area: p2; /* Set grid area */
}
.p3 {
  grid-area: p3; /* Set grid area */
}
.p4 {
  grid-area: p4; /* Set grid area */
}

/* Figure styles */
figure {
  width: 100%; /* Set width */
  position: relative; /* Set position */
  border: 5px solid var(--IMAGE-BORDER); /* Set border */
}

/* Portfolio image styles */
#portfolio img {
  object-fit: cover; /* Set object fit */
  width: 100%; /* Set width */
  filter: sepia(30%); /* Set sepia filter */
  opacity: 70%; /* Set opacity */
}

/* Portfolio image hover styles */
#portfolio img:hover,
#portfolio figure:hover {
  filter: sepia(0%); /* Set sepia filter */
  opacity: 100%; /* Set opacity */
  transition: 500ms; /* Set transition */
}

/* Figcaption styles */
figcaption {
  background-color: var(--FIGURE-CAPTION); /* Set background color */
  padding: 10px; /* Padding */
  position: absolute; /* Set position */
  bottom: 30px; /* Set bottom position */
}

/* Bottom navigation list styles */
ul.bottomNav {
  display: flex; /* Use flexbox */
  flex-wrap: wrap; /* Allow wrapping */
  justify-content: space-evenly; /* Justify content */
  align-items: flex-start; /* Align items */
  padding: 30px; /* Padding */
}

/* Bottom navigation anchor styles */
.bottomNav a {
  color: var(--BOTTOM-LINK-COLOR); /* Set text color */
  display: inline-block; /* Display inline-block */
  font-size: 24px; /* Set font size */
  margin-left: 10px; /* Margin left */
  padding: 5px; /* Padding */
}

/* Media Queries */
@media screen and (max-width: 900px) {
  /* Header styles for smaller screens */
  header {
    background-color: var(--HEADER-BGCOLOR); /* Set background color */
    display: flex; /* Use flexbox */
    align-items: center; /* Align items */
    justify-content: space-between; /* Justify content */
    flex-wrap: wrap; /* Allow wrapping */
    padding: 0; /* Padding */
  }

  /* Header h1 styles for smaller screens */
  header h1 {
    width: 100%; /* Set width */
    margin: 0 auto; /* Margin */
    padding: 0; /* Padding */
    text-align: center; /* Text alignment */
  }

  /* Header nav styles for smaller screens */
  header nav {
    padding-right: 0; /* Padding right */
  }

  /* Navigation styles for smaller screens */
  nav {
    width: 100%; /* Set width */
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Justify content */
  }

  /* Top navigation styles for smaller screens */
  .topNav {
    width: 100%; /* Set width */
    display: flex; /* Use flexbox */
    flex-wrap: wrap; /* Allow wrapping */
    justify-content: space-evenly; /* Justify content */
  }

  /* Top navigation anchor styles for smaller screens */
  .topNav a {
    color: var(--NAV--LINK-COLOR); /* Set text color */
    font-size: 18px; /* Set font size */
    border-bottom: 3px solid var(--NAV--LINK-BORDER-BOTTOM); /* Set border bottom */
    padding: 0 5px 0px 5px; /* Padding */
    display: flex; /* Use flexbox */
    justify-content: center; /* Justify content */
  }

  /* Container styles for smaller screens */
  .container {
    width: 95%; /* Set width */
    display: grid; /* Use grid */
    grid-template-columns: 100%; /* Set grid columns */
  }

  /* Portfolio styles for smaller screens */
  #portfolio {
    width: 100%; /* Set width */
    display: grid; /* Use grid */
    grid-template-columns: 1fr; /* Set grid columns */
    grid-template-rows: 200px 200px 200px 200px 200px; /* Set grid rows */
    grid-template-areas:
      "p0"
      "p1"
      "p2"
      "p3"
      "p4"; /* Set grid areas */
  }

  /* Page section styles for smaller screens */
  .page-section {
    border-right: 0; /* Remove right border */
    border-bottom: 4px solid var(--SECTION-BORDER); /* Set bottom border */
  }

  /* h2 styles for smaller screens */
  h2 {
    text-align: center; /* Text alignment */
  }

  /* Portfolio image styles for smaller screens */
  #portfolio img {
    height: 190px; /* Set height */
  }

  /* Bottom navigation list styles for smaller screens */
  ul.bottomNav {
    padding: 0px; /* Padding */
    flex-direction: column; /* Set flex direction */
    align-items: center; /* Align items */
  }
}
